:root{
    --light: #c9a9a9;  
}

.p-1 {
    padding: var(--spacing-one);
  }
  
  .p-2 {
    padding: var(--spacing-two);
  }
  

  .pl-10 {
    padding-left: var(--spacing-ten);
  }


  .pr-10 {
    padding-right: var(--spacing-ten);
  }

  .m-5{
    margin: var(--spacing-five);
  }

  .m-1{
    margin: var(--spacing-one);
  }
   
h1,
h2,
h3
 {
  font-weight: 500;
  margin: 5px 0;
  color: rgb(0, 0, 3);
  line-height: 1.25;
}